.waiting-for-results {
    font-family: "Libre Caslon Text", serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 10vw;
}

.success-container {
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      url("../images/clouds.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    flex: 1;
    margin: 8vh 8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    align-items: center;
    justify-content: space-around;
}

.audio-player-container {
    width: 300px;
}

.success-title {
    width: 80vw;
    background: rgba(255, 255, 255, 0.1);
    width: 80%;
    padding: 10px;
    border-radius: 4px;
}

.download-button {
    padding: 10px;
    font-size: 1.3rem;
    background:  rgba(255, 255, 255, 0.1);
    height: 2rem;
    transition: font-size 200ms;
    border-radius: 4px;
}

.download-button:hover {
    cursor: pointer;
    font-size: 1.4rem;
}

.rhap_container, .rhap_container *:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.rhap_container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.rhap_container svg {
    color: black;
}

.rhap_progress-indicator, .rhap_progress-filled {
    background-color: black;
}